@{
	ViewData["Title"] = "GetData";
}

<h1>GetData</h1>
<div class="text-center">
    <p class="alert alert-success">Dữ liệu nhận được từ ViewBag: @ViewBag.Text</p>
    <p class="alert alert-danger">Dữ liệu nhận được từ ViewData: @ViewData["Text"]</p>
    <p class="alert alert-primary">Dữ liệu nhận được từ TempData: @TempData["Text"]</p>
</div>